html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h3, h2 {
  text-align: center;
}

#paths {
  display: flex;
  gap: 2em;
  text-align: center;
  flex-wrap: wrap;
}

#badges {
  gap: 0.3em;
}

#info-user {
  gap: 2em;
  display: flex;
  flex-direction: column;
}

#profile-header {
  margin: 0 auto;
}

.ml-5 {
  margin-left: 3em;
}

#six-routes:hover {
  cursor: pointer;
}

#custom-link {
  text-decoration: none;
}

/*small breakpoint*/
@media only screen and (max-width: 600px) {

  #caption, #another-one {
    display: none;
  }

  #work-children {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  #news-children {
    flex-direction: column;
    gap: 2em;
    align-items: center;
  }

  #news-children > Carousel {
    margin: 0;
    width: 75%;
  }

  #footer {
    flex-direction: column;
  }

}

/*medium breakpoint*/
@media (max-width: 794px) {

  #work-children, #news-children {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }

}
